#logo{
	height:100px;
}
/* not necessary */
table, th, td {
    border: 1px solid black;
}

.table td{
    border: black solid 1px !important;
}

.table th{
    border: black solid 1px !important;
}

input[type="submit"]{
	background-color:#F55D5D;
	border-radius: 15px;
    min-width: 100px;
    color: white;
    border-style: none;
}

/* img#home_pic{
	left:0;
  float: left;
  height: 500px;
  width: 45%;
}*/

form.col-md-9{
	margin-top:30px;
}

div#signup-form.col-sm-6 {
	background-color:#8BC4F2;
  padding-bottom:40px
}

div#home_pic.col-sm-6{
  padding:0;
}

div.col-md-10{
  background-color:#8BC4F2;
  height: 80%;
}

#logout{
  float:right;
}







