<!DOCTYPE>
<html>
<head> 
  <title> AERIS </title>

  <!-- Bootstrap CSS link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- App custom CSS -->
  <link rel="stylesheet" href="static/style.css">

</head>

<body>

	<h1> Create A New Bill Session</h1>

	<div class="container-fluid"> 

		<form action="/bill" method="POST">
			<input type="submit" name="Create a Bill Session" value="Create a Bill Session">
		</form>

		<h1>Bill Session Invites</h1>
		<table>
			<thead>
				<tr>
					<th>Bill ID</th>
					<th>Email</th>
					<th> </th>
				</tr>
			</thead>

			  <tbody>
			    {% for n in Userbill %}
			    <tr>
			        <td>{{n.BillID}}</td>
			        <td>{{n.Email}}</td>
			        <td>
			        	<form action="/display_bill" method="GET">
			        		<input type="submit" name=button value="Access">
			        		<input type="hidden" name=billId value={{n.BillID}}>
			        	</form>
			        <td>
			     </tr>
			    {% endfor %}
			  </tbody>
		 </table>

	</div>

</body>

</html>

