<!DOCTYPE>
<html>
<head> 
  <title> AERIS </title>

  <!-- Bootstrap CSS link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- App custom CSS -->
  <link rel="stylesheet" href="static/style.css">

</head>

<body>

	<div class="container-fluid"> 

		<form action="/display_bill" method="post">
			<h1>Itemized Cost for Bill {{Billid}}</h1>
			<table>
		         <thead>
		            <tr>
		               <th>Name</th>
		               <th>Item</th>
		               <th>Cost</th>
		               <th>Quantity</th>
		               <th>Delete</th>
		            </tr>
		         </thead>
		 
		         <tbody>
		            {% for n in Userbill %}
		               <tr>
		               		<td>{{ n.Email }}</td>
		                  <td>{{ n.ItemName }}</td>
		                  <td>{{ n.Price }}</td>
		                  <td>{{ n.Quantity }}</td>
		                  <td>
			        		<form action="/remove_item" method="POST">
			        		<input type="hidden" name="ItemName" value={{n.ItemName}}>
			        		<input type="submit" name="button" value="Delete">
			        		</form>
			        	  </td>
		               </tr>
		            {% endfor %}
		        </tbody>
		    </table>
		</form>

		<form action="/add_item" method="post">
		    <input type = "text" name = "item" placeholder = "Item" /><br>
		   	<input type = "text" name = "price" placeholder = "Price" /><br>
		   	<input type = "text" name = "quantity" placeholder = "Quantity" /><br>
	       	<input type = "submit" value = "Add" />
       	</form>

       	<form action="/add_friend" method="POST">
			<input type="hidden" name="Billid" value={{Billid}}>
			<input type = "text" name = "Friend_email" placeholder = "Friend Email" /><br>
       		<input type = "submit" value = "Invite" />
		</form>

		<form action="/split_cost" method="POST">
			<input type="hidden" name="Billid" value={{Billid}}>
			<input type = "text" name = "Tip" placeholder = "Tip" /><br>
       		<input type = "submit" value = "Submit" />
		</form>

	</div>

</body>

</html>

