<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/img/currency_dollar_blue.ico">

    <title>AERIS</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/style.css" rel="stylesheet">

  </head>

  <body>
    <div class="row">
      <div id="sidebar" style="background-color:black; height:100vh" class="col-xs-2">
        <img id="logo" src="static/img/logo.png"> 
        </br>

        <a style="margin-bottom: 10px;margin-top:50px;" href="{{ url_for('bill') }}">Your Bills</a>
        &nbsp;
        &nbsp;
        <form method="POST" action="/logout">
            <input type="submit" value="logout">
        </form>
        &nbsp;
        &nbsp;
        <a style="margin-bottom: 10px;margin-top:50px;" href="{{ url_for('setting') }}">Settings</a>
      </div>

      <div style="height: 100vh;"class="col-xs-10">
        <form action="/edit_setting" method="post">
            <input type = "text" name = "firstName" placeholder = "First Name" /><br>
            <input type = "text" name = "lastName" placeholder = "Last Name" /><br>
            <input type = "email" name = "email" placeholder = "Email" /><br>
            <input type = "submit" value = "Edit" />
        </form> 
        <a style="margin-bottom: 10px;margin-top:50px;" href="{{ url_for('reset') }}">Change Password</a>
      </div>
    </div>

  </body>

<style>
a:link, a:visited {
    background-color: #F55D5D;
    border-radius: 15px;
    min-width: 100px;
    padding: 10px 25px;
    text-align: center; 
    display: inline-block;
    color: white;
    border-style: none;
}
</style>

</html>